<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/static/tableformat.css">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <center><h2>About this Project</h2></center>
    <center><h3> Employee Attendence Using Facial Recognition</h3></center>
    <center>
        <div class="card5">
            Automated employee attendance system implemented using concepts of machine learning. Implementation of the User Interface is done using Web Interface which can be further extended as Web Based Android Application. In Application, Complete details of employee are stored. Each employee’s facial data is recorded and stored in database. When an employee passes through the camera, his facial data is extracted and compared with the existing data in the database. If match is found, Then Timestamp and snapshot is stored in the database. In this project we are determined to extract a fully automated attendance system using facial recognition and  to achieve 90% accuracy in facial recognition to prevent plagiarism and fake identity thus preventing invasion of privacy.
            <br><br><br><strong>Project Guide: Dr.Monica.R.Mundada</strong>
           <br><br><table width="50%">
                    <tr>
                        <th><strong>USN</strong></th>
                        <th><strong>Name</strong></th>
                    </tr>
                    <tr>
                        <td>1MS14CS090</td>
                        <td>P Sadhvik Reddy</td>
                    </tr>
                    <tr>
                        <td>1MS15CS109</td>
                        <td>Saumit Sandesh C</td>
                    </tr>
                    <tr>
                        <td>1MS15CS157</td>
                        <td>B Sandeep Reddy</td>
                    </tr>
                </table>
            <br>
        </div>
    </center>
</body>
</html>