<head>
    <link rel="stylesheet" href="/static/tableformat.css">
    <center>
    <title>Display</title>
        <h2><u>Display</u></h2>
    </center>
</head>
<center>
<div class="card4">
<form method = "post">
    <center>
    <input type="text" placeholder="Search" name="searchkey" autofocus required autocomplete="on"><br><br><br>
    <input type="radio" name="searchtype" value="name">Name
    <input type="radio" name="searchtype" value="id" checked>Employee ID
    <input type="radio" name="searchtype" value="age">Age
    <input type="radio" name="searchtype" value="contact">Contact<br><br>
    <input class ="button" type="submit">
    </center>
</form>
<center>
    <button class="button" onclick="window.location.href='dispall.html'"><span>View All</span></button>
</center>
    </div>
    </center>