<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/bg.css">
<title>Home Page</title>
<center>
    <div class ="mainh">
<h1>
Mini Project!
</h1>
<h2>By Sadhvik, Saumit and Sandeep</h2></div>
</center>
</head>
<center>
    <br><br>
<button class = "button" onclick="window.location.href='reg.html'"><span>Registration</span></button>
<br><br>
    <button class = "button" onclick="window.location.href='display.html'"><span>Display</span></button>
<br><br><h2>
<strong><u>Attendance</u></strong></h2>
<br><br>
    <button class = "button" onclick="window.location.href='CheckIN.html'"><span>Check In</span></button>
    <button class = "button" onclick="window.location.href='CheckOut.html'"><span>Check Out</span></button>
</center>
<center><br><br>
 <a class = "button1" href = 'about.html'><span>About</span></a>
</center>
</html>