<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/bg.css">
<style>
    head{
        color: black;
    }
    form{
        color: black;
    }
    input[type="submit"]{
        color: whitesmoke;
        background-color: black;
        height: 30px;
        width: 100px;
        border-radius: 4px;
        border: red;
    }
</style>
<title>Registration</title>
    <center></center>
</head>
<center><br><br>
    <h2><u>Registration Page</u></h2>
</center>
<center>
<div class="card">
<form method="post">
    <center>
    <br><br>
    Enter Name:  <input type="text" placeholder="Enter name..." name="pname" style="width: 150px;" autocomplete="off" autofocus required><br><br>
    Enter Age:   <input type="number" placeholder="Enter age..." name="age" required><br><br>
    Enter Gender:<input type="radio" name="gender" value="Male"> Male
                 <input type="radio" name="gender" value="Female"> Female<br><br>
    Enter Contact:<input type="text" placeholder="Phone Number" name="contact" required><br><br>
        <input class = "button" type="submit" value="Next"></center>
</form>
    </div></center>
</html>
